<br/><br/>

<label>Name:</label>
<strong>{{name}}</strong>
<br/>

<label>Type:</label>
<strong>{{typeString}}</strong>
<br/>

<label>Visible:</label>
<strong>{{visible}}</strong>
<br/>

<label>Rotation:</label>
<strong>{{rotation}}</strong>
<br/>

<label>Position:</label>
<strong>{{position.x}}</strong> x <strong>{{position.y}}</strong>
<br/>

<label>Scale:</label>
<strong>{{scale.x}}</strong> x <strong>{{scale.y}}</strong>
<br/>

<label>Alpha:</label>
<strong>{{alpha}}</strong>
<br/>

<hr />

<label>World Visible:</label>
<strong>{{worldVisible}}</strong>
<br/>

<label>World Rotation:</label>
<strong>{{worldRotation}}</strong>
<br/>

<label>World Position:</label>
<strong>{{worldPosition.x}}</strong> x <strong>{{worldPosition.y}}</strong>
<br/>

<label>World Scale:</label>
<strong>{{worldScale.x}}</strong> x <strong>{{worldScale.y}}</strong>
<br/>

<label>World Alpha:</label>
<strong>{{worldAlpha}}</strong>
<br/>

<hr />

{{#if children}}
    <label>Children:</label>
    <strong>{{children.length}}</strong>
    <br/>
{{/if}}

{{#if texture}}
    <label>Texture:</label>
    {{#if texture.baseTexture.source.src}}
        <a href="{{texture.baseTexture.source.src}}" target="_blank">{{texture.baseTexture.source.src}}</a>
    {{else}}
        <strong>{{texture.baseTexture.source}}</strong>
    {{/if}}
    <br/>
{{/if}}
